<h1>Create New Owner</h1>

<form action="/owners" method="POST">
  <label>Owner's Name:</label>


  <input type="text" name="owner[name]">

  <label>Choose an existing pet:</label>

  <% @pets.each do |pet| %>
    <input type="checkbox" name="owner[pet_ids][]" value="<%=pet.id%>" id="<%=pet.id%>">
    <%=pet.name%>
    </input>
  <% end %>

  <label>Create New Pet:</label>

  <label>Pet's Name:</label>
    <input type="text" name="pet[name]"></input>
  <input type="submit" value="Create Owner">
</form>